import(methods)

exportClasses("genotypeData")

exportMethods("show",

              "genotypes", 
              "genotypes<-", 
              "samples", 
              "samples<-", 
              "sampleGroups", 
              "sampleGroups<-", 
              "sampleSizes", 
              "sampleSizes<-", 
              "ploidy", 
              "ploidy<-",
              "markers", 
              "markers<-", 
              "markerGroups", 
              "markerGroups<-", 

              "extract")
