import(methods)

exportClasses("genotypeData")

exportMethods("show",
              "ploidy", 
              "ploidy<-",
              "markers", 
              "genotypes", 
              "samples", 
              "groups", 
              "sampleSizes", 
	            "description", 
              "notes", 
              "extract")
