import(methods)

exportClasses("genotypeData")

exportMethods("show",
              "ploidy", 
              "ploidy<-",
              "markers", 
              "markers<-", 
              "genotypes", 
              "genotypes<-", 
              "samples", 
              "samples<-", 
              "groups", 
              "groups<-", 
              "sampleSizes", 
              "sampleSizes<-", 
	          "description", 
	          "description<-", 
              "notes", 
              "notes<-", 
              "extract")
